{{! Post Box 1 }}
<div class="post-box" id="{{genre}}">
  <h2 class="category">{{genre}}</h2>
  <img src="https://placehold.co/600x400" alt="placeholder" class="post-img" />
  <a href="post" class="post-title">
    {{venue}}
  </a>
  <span>{{city}}, {{state}}</span>
  {{!-- <p class="post-description">placeholder text placeholder text placeholder text
    placeholder text placeholder text placeholder text</p> --}}
  {{! Profile }}
  <span class="post-date">{{date}}</span>
  <div class="profile">
    <img
      src="https://placehold.co/600x400"
      alt="placeholder"
      class="profile-img"
    />
    <span class="profile-name">Profile Name</span>
  </div>
</div>