{{! Post Box 1 }}
<div class="post-box" id="{{genre}}">
  <div class="post-header">
    <h2 class="category">{{genre}}</h2>
    <h2
      class="category save noselect"
      data-concert_id="{{concert-id}}"
      data-user_id="1"
    >☆</h2>
  </div>
  <img src="/images/{{image}}" alt="{{genre}}" class="post-img" />
  <a href="post" class="post-title">
    {{venue}}
  </a>
  <span>{{city}}, {{state}}</span>
  <span class="post-date">{{date}}</span>
  <div class="profile">
    <img
      src="https://placehold.co/600x400"
      alt="placeholder"
      class="profile-img"
    />
    <span class="profile-name">Profile Name</span>
  </div>
</div>